language: generic

sudo: required

before_install:
  - sudo apt-get update
  - sudo apt-get install -y curl cmake wget
  - wget 'https://github.com/google/brotli/archive/v1.0.4.tar.gz'
  - tar zxvf v1.0.4.tar.gz
  - cd brotli-1.0.4/
  - cmake .
  - make
  - sudo cp ./brotli /bin/brotli
  - sudo chmod 777 /bin/brotli
  - cd ..
install:
  - git config --global user.name "Salvador Guzman"
  - git config --global user.email "guzmansalv@gmail.com"
  - git clone 'https://github.com/sguzman/book-snapshot'
  - cd books-snapshot
  - mkdir -p snapshot/
  - cd snapshot/
script:
  - (for file in ../../books/*.html.brotli; do (cat $file | brotli -d) done;) | brotli > books.brotli
after_success:
  - git add books.brotli
  - git commit -m 'Added book snapshot'
  - echo $GITHUB_AUTH > ~/.git-credentials
  - git config --global credential.helper store
  - git push
